.lista-suspensa label {
    padding: 0 4em;
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.lista-suspensa select {
    background-color: aliceblue;
    margin: 0 3.5em;
    width: 84%;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}